<p style="color: green"><%= notice %></p>

<%= render @snack %>

<div>
  <%= link_to "Edit this snack", edit_snack_path(@snack) %> |
  <%= link_to "Back to snacks", snacks_path %>

  <%= button_to "Destroy this snack", @snack, method: :delete %>
</div>
